/*
*SPDX-FileCopyrightText: Copyright 2020 | CSI Piemonte
*SPDX-License-Identifier: EUPL-1.2
*/
/* #inserisci 
{
	padding-top: 20px;
}

.elimina a
{
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 12px;
	padding-left: 10px;
	background-image: url("http://www.gualandigomme.com/skin/gualandi/img/pallino.png");
}

.descrizione 
{
	padding-right: 100px;
} */

