/*
*SPDX-FileCopyrightText: Copyright 2020 | CSI Piemonte
*SPDX-License-Identifier: EUPL-1.2
*/
label.error
{
	padding-left: 20px;
	display: inline;
	color: red;
}

input.error
{
	border-color: red;
}

